<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <script src="./script.js"></script>
</head>
<body>
    <form action="/createuser" method="post">
        <h2>Create user!</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <input type="submit" value="Create user">
        <br/><br/><br/>
        <a class="form__link" href="./login.html" id="linkLogin">Already have an user? Log in here</a>

    </form>
</body>
</html>